
<h3> <%= @recipe.title %> </h3>

<h4> <%= @recipe.time %> minutes! </h4>

<p> <%= @recipe.preparation %> </p>

<ul><% @ingredients.each do |ingredient| %>
	<li><%= ingredient.name %></li>
<% end %>
</ul>

<ul><% %>
	<li>

	</li>


</ul>