<head>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
	

	<div class= 'search-container'>

	<% if @recipes %>
		<h4 class= 'list-of-recipes-title'>Here are some ideas!</h4>

		<ul class ='list-of-recipes'>
			<% @recipes.each do |recipe| %>
			<li> <%= link_to recipe.title, recipe_path(recipe.id)%></li>
		<% end %>
		
		</ul>	

	<% end %>
	</div>
	<div class="back-btn"><%= link_to "Back", search_path %> </div>


</body>
