// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color:#cee5ed;
	width: 100%;
    min-height: 100%;
    margin: 0;
    
}

.search-container{
	background-color: white;
	width: 400px;
	padding-bottom: 100px;
	margin: 0 auto;
}

.user-navbar{
	color: white;
}

.list-of-recipes-title{
	text-align:center;
	font-family: roboto;
	font-size: 20px;
	padding-top: 20px;
}
.list-of-recipes{
	font-family: roboto;
	font-size: 16px;
	list-style-type: none;	
}
.back-btn{
	font-family: roboto;
	font-size: 16px;
	background-color: white;
	width: 50px;
	text-align:center;
	margin-top: -145px;
	margin-left: 810px;
	padding: 10px 0px;
	
}