// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-of-recipes-title{
	
	font-family: arial;
	font-size: 20px;
}

.list-of-recipes{
	font-family: PT Sans;
	font-size: 14px;
	list-style-type: none;

}

