// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-homepage{
	background-color: #cee5ed;
	width: 100%;
    min-height: 100%;
    margin: 0;
}

#ingredient{
	font-size: 30px;
	color:#767676;

	padding: 20px 0px;
	border: 10px 0px double;
	margin-top:20px;

}

.search-form{
	color: white;
	font-family: Roboto;
	font-size: 40px;
	text-align: center;
}

a[value=Submit]{
	margin-top: 10px;
	font-family: Roboto;
	font-size: 20 px;
}


.user-navbar {
	font-family: Roboto;
	font-size: 14px;
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: flex-end;
	margin-right: 5px;
	margin-bottom:40px;
	background-color: white;
	width: 50px;
	text-align: center;

}




