	
	<h1> </h1>
	<div class='navbar-container'>
		<div class= 'user-navbar'>
			<%= link_to "NEW RECIPE", new_recipe_path %>
		
		</div>	
	</div>


	<div class= 'container-homepage'>
	<div class ='search-form'>

		<%= form_tag('/search') do %>
			<label for="ingredient">What's in your fridge?</label>
			<div><%= text_field_tag 'ingredient'%></div>
	  		<div class= "submit"><%= submit_tag 'Submit' %></div>
		<% end %>
	</div>	
	</div>
	</form>

