<div class='container_front_page'>
	
<div class= 'navbar'>

	<div id="logo">
		<span class='logo_text'>
		chop- <br> -chop</span>	
	</div>	

	<div class='sign_buttons'>
		<button class='signin'><%= link_to "sign in", new_user_session_path %></button>
		<button class='signup'><%= link_to "sign up", new_user_registration_path %></button>
	</div>
	
</div>


